<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>system.listener.Listener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>system.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>system.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>system.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticleController</servlet-name>
        <servlet-class>system.controller.SearchArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostArticleController</servlet-name>
        <servlet-class>system.controller.PostArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsController</servlet-name>
        <servlet-class>system.controller.DetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCommentController</servlet-name>
        <servlet-class>system.controller.PostCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>system.controller.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleController</servlet-name>
        <servlet-class>system.controller.DeleteArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmoteController</servlet-name>
        <servlet-class>system.controller.EmoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotificationController</servlet-name>
        <servlet-class>system.controller.DeleteNotificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticleController</servlet-name>
        <url-pattern>/SearchArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostArticleController</servlet-name>
        <url-pattern>/PostArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsController</servlet-name>
        <url-pattern>/DetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCommentController</servlet-name>
        <url-pattern>/PostCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/DeleteCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleController</servlet-name>
        <url-pattern>/DeleteArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmoteController</servlet-name>
        <url-pattern>/EmoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNotificationController</servlet-name>
        <url-pattern>/DeleteNotificationController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>SearchArticleController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>Resource reference to javax.sql.Connection</description>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
